src/Juhta.Net/Config.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
  Juhta.NET, Copyright (c) 2017 Juha Lähteenmäki

  This source code may be used, modified and distributed under the terms of
  the MIT license. Please refer to the LICENSE.txt file for details.
-->

<xs:schema
  elementFormDefault="qualified"
  targetNamespace="http://schemas.juhta.net/root-v1.xsd"
  xmlns="http://schemas.juhta.net/root-v1.xsd"
  xmlns:common="http://schemas.juhta.net/common-v1.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xsd:import
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    namespace="http://schemas.juhta.net/common-v1.xsd"/>
  
  <!-- Define the root element -->
  <xs:element name="Juhta.Net" type="Juhta.NetType"/>
  
  <!-- Define applicationType -->
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element name="startup" type="startupType"/>
      <xs:element name="services" type="servicesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="common:nonEmptyTrimmedStringType" use="optional"/>
    <xs:attribute name="defaultConfigFileName" type="common:configFileNameType" use="optional"/>
  </xs:complexType>
  
  <!-- Define booleanType -->
  <xs:complexType name="booleanType">
    <xs:simpleContent>
      <xs:restriction base="stringType">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define byteType -->
  <xs:complexType name="byteType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedByte">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define charType -->
  <xs:complexType name="charType">
    <xs:simpleContent>
      <xs:restriction base="stringType">
        <xs:minLength value="1"/>
        <xs:maxLength value="1"/>
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define constructorParamsType -->
  <xs:complexType name="constructorParamsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="boolean" type="booleanType"/>
      <xs:element name="byte" type="byteType"/>
      <xs:element name="char" type="charType"/>
      <xs:element name="date" type="dateType"/>
      <xs:element name="dateTime" type="dateTimeType"/>
      <xs:element name="decimal" type="decimalType"/>
      <xs:element name="double" type="doubleType"/>
      <xs:element name="float" type="floatType"/>
      <xs:element name="int" type="intType"/>
      <xs:element name="int16" type="int16Type"/>
      <xs:element name="int32" type="int32Type"/>
      <xs:element name="int64" type="int64Type"/>
      <xs:element name="long" type="longType"/>
      <xs:element name="sbyte" type="sbyteType"/>
      <xs:element name="short" type="shortType"/>
      <xs:element name="single" type="singleType"/>
      <xs:element name="string" type="stringType"/>
      <xs:element name="time" type="timeType"/>
      <xs:element name="timeSpan" type="timeSpanType"/>
      <xs:element name="uint" type="uintType"/>
      <xs:element name="uint16" type="uint16Type"/>
      <xs:element name="uint32" type="uint32Type"/>
      <xs:element name="uint64" type="uint64Type"/>
      <xs:element name="ulong" type="ulongType"/>
      <xs:element name="ushort" type="ushortType"/>
    </xs:choice>
  </xs:complexType>
  
  <!-- Define dateType -->
  <xs:complexType name="dateType">
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define dateTimeType -->
  <xs:complexType name="dateTimeType">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define decimalType -->
  <xs:complexType name="decimalType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Define doubleType -->
  <xs:complexType name="doubleType">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define floatType -->
  <xs:complexType name="floatType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define intType -->
  <xs:complexType name="intType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define int16Type -->
  <xs:complexType name="int16Type">
    <xs:simpleContent>
      <xs:extension base="xs:short">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define int32Type -->
  <xs:complexType name="int32Type">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define int64Type -->
  <xs:complexType name="int64Type">
    <xs:simpleContent>
      <xs:extension base="xs:long">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define Juhta.NetType -->
  <xs:complexType name="Juhta.NetType">
    <xs:sequence>
      <xs:element name="application" type="applicationType"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Define librariesType -->
  <xs:complexType name="librariesType">
    <xs:sequence>
      <xs:element name="library" type="libraryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Define libraryType -->
  <xs:complexType name="libraryType">
    <xs:attribute name="fileName" type="common:libraryFileNameType" use="required"/>
    <xs:attribute name="handleClass" type="common:classNameType" use="optional"/>
    <xs:attribute name="configFileName" type="common:configFileNameType" use="optional"/>
  </xs:complexType>
  
  <!-- Define longType -->
  <xs:complexType name="longType">
    <xs:simpleContent>
      <xs:extension base="xs:long">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define sbyteType -->
  <xs:complexType name="sbyteType">
    <xs:simpleContent>
      <xs:extension base="xs:byte">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define servicesType -->
  <xs:complexType name="servicesType">
    <xs:sequence>
      <xs:element name="service" type="serviceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Define serviceType -->
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="constructorParams" type="constructorParamsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="common:nonEmptyTrimmedStringType" use="optional"/>
    <xs:attribute name="type" type="common:fullClassNameType" use="optional"/>
    <xs:attribute name="libraryFileName" type="common:libraryFileNameType" use="required"/>
    <xs:attribute name="libraryClass" type="common:classNameType" use="required"/>
  </xs:complexType>
  
  <!-- Define shortType -->
  <xs:complexType name="shortType">
    <xs:simpleContent>
      <xs:extension base="xs:short">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define singleType -->
  <xs:complexType name="singleType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define startupType -->
  <xs:complexType name="startupType">
    <xs:sequence>
      <xs:element name="libraries" type="librariesType"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Define stringType -->
  <xs:complexType name="stringType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="common:paramNameType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define timeSpanType -->
  <xs:complexType name="timeSpanType">
    <xs:simpleContent>
      <xs:restriction base="stringType">
        <xs:pattern value="^([\d]{1,5}\:)?(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"/>
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define timeType -->
  <xs:complexType name="timeType">
    <xs:simpleContent>
      <xs:extension base="xs:time">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define uintType -->
  <xs:complexType name="uintType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedInt">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define uint16Type -->
  <xs:complexType name="uint16Type">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedShort">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define uint32Type -->
  <xs:complexType name="uint32Type">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedInt">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define uint64Type -->
  <xs:complexType name="uint64Type">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedLong">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define ulongType -->
  <xs:complexType name="ulongType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedLong">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Define ushortType -->
  <xs:complexType name="ushortType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedShort">
        <xs:attribute name="name" type="common:paramNameType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
</xs:schema>
