Tests/AppXLibrary/DynamicCustomXmlConfigurable/Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Config"
    targetNamespace="http://tempuri.org/Config.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Config.xsd"
    xmlns:mstns="http://tempuri.org/Config.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  
  <xs:element name="settings" type="settingsType"/>

  <xs:complexType name="settingsType">
    <xs:sequence>
      <xs:element name="currentGreeting" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
 
</xs:schema>
